**/[b|B]in/
**/[O|o]bj/
bin/
obj/


.vs/
.vscode/
.idea/
*.user
*.suo

.git/
.gitignore

*.log
*.tmp

*.dll
*.pdb

*.db
*.sqlite
*.mdf
*.ldf

*.DS_Store
Thumbs.db

docker-compose.override.yml

!*.cs
!*.csproj
!*.sln
